<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('partials/head-meta-defaults') %> <%- include('partials/head-links-defaults') %>
    <title>2022</title>
    <%- include('partials/head-scripts-defaults') %> <%- include('partials/head-scripts-bootstrap-icons') %>
    <script defer src="./js/confirmDeleteAlbumModal.js"></script>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <main>
      <%- include ('partials/modal-confirm-delete-album') %>

      <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center justify-content-center g-5 py-5">
          <!-- Landing Page Hero -->
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Organise and revive your best memories</h1>
            <p class="lead">
              Overloaded when browsing your thousands of pictures searching for that special one? MyAlbums lets you easily create albums and add your
              pictures. The difference? Each album can only contain 20 pictures. Makes you select the best ones.
            </p>
            <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <a class="btn btn-primary btn-lg px-4 me-md-2" href="/newalbumpage" role="button">Create Album</a>
            </div> -->
          </div>
          <!-- New Album Form -->
          <div class="col-10 col-sm-8 col-lg-6">
            <form id="formAlbumName" action="http://localhost:3000/newalbum" class="p-4 p-md-5 border rounded-3 bg-light">
              <div class="form-floating">
                <input type="text" class="form-control" id="albumName" name="albumName" />
                <label for="albumName">Enter album name</label>
              </div>
              <div class="form-floating mb-3 px-2 pb-2 text-center">
                <div class="form-floating mb-3 px-2 text-center" id="resultsDiv">
                  <p id="resultsMessage">
                    <!-- <small id="resultsMessage"></small> -->
                  </p>
                </div>
                <p id="hint">
                  <small>Hint<i class="fa-regular fa-face-smile-wink"></i> Duplicates not allowed, see existing albums below.</small>
                </p>
              </div>

              <div class="form-floating mb-3">
                <button class="w-100 btn btn-lg btn-primary" id="createNewAlbumButton" type="submit">Create New Album</button>
              </div>
              <div class="form-floating mb-3 hidden" id="viewNewAlbumButtonDIV">
                <a class="w-100 btn btn-lg btn-success d-block" id="viewNewAlbumButton" href="" role="button">Link</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <%- include('partials/albums-buttons') %>
    </main>

    <%- include('partials/footer') %> <%- include('partials/body-scripts-bootstrap') %>
    <script src="/js/createNewAlbum.js"></script>
    <!-- <script>
      const deleteAlbumModal = document.getElementById('delete-album-modal');
      deleteAlbumModal.addEventListener('show.bs.modal', (event) => {
        // Button that triggered the modal
        const button = event.relatedTarget;
        // Extract info from data-bs-* attributes
        const albumName = button.getAttribute('data-bs-albumname');

        // Update the modal's content.
        const modalTitle = deleteAlbumModal.querySelector('#insert-modal-album-name');
        const modalBodyInput = deleteAlbumModal.querySelector('#insert-modal-body-text');

        modalTitle.textContent = `Confirm Delete ${albumName}`;
        modalBodyInput.innerHTML = `Are you sure you want to <span class="strong">delete ${albumName} and all images inside it</span>? This action cannot be undone.`;
      });
    </script> -->

    Note that I've commented out the AJAX request since it's not clear what it's supposed to do. If you need to make an AJAX request, you can use the
    fetch API as shown in the commented code block. Rauf Lieberg Wonderful! Thanks! You're welcome! Don't hesitate to ask if you have any more
    questions.
  </body>
</html>
