<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('partials/head-meta-defaults') %> <%- include('partials/head-links-defaults') %>
    <title>2022</title>
    <%- include('partials/head-scripts-defaults') %> <%- include('partials/head-scripts-bootstrap-icons') %>
    <script defer src="./js/confirmDeleteAlbumModal.js"></script>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <main>
      <div class="spacer"></div>
      <%- include ('partials/modal-confirm-delete-album') %>
      <div class="container">
        <!-- if no albums exist, show this block -->
        <% if (coverAlbums.length === 0) { %>
          <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center justify-content-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="../assets/logos/j20_full_v3.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 id="langing-header" class="display-5 fw-bold lh-1 mb-3">Create your first album</h1>
                <p id="landing-lead-text" class="lead"> <span class="animate-underline-text">Use the menu in top left </span>to create your first album and upload photos. In general all actions will be found in this menu.</p>
              </div>
            </div>
          </div>

          <script type="module">
            import { annotate } from 'https://unpkg.com/rough-notation?module';
            const hamburgerIcon = document.querySelector('.navbar-toggler-icon');
            const underlineText = document.querySelector('.animate-underline-text');
            const annotationHamburgerIcon = annotate(hamburgerIcon, { type: 'circle' });
            const annotationUnderlineText = annotate(underlineText, { type: 'underline' });

            //Menu props
            annotationHamburgerIcon.color = '#FB8500';
            annotationHamburgerIcon.strokeWidth = 6;
            annotationHamburgerIcon.padding = 15;
            annotationHamburgerIcon.animationDuration = 2000;
            annotationHamburgerIcon.iterations = 1;

            //Text props
            annotationUnderlineText.color = '#FB8500';
            annotationUnderlineText.strokeWidth = 3;
            annotationUnderlineText.animationDuration = 1000;
            
            //timeout wait before showing the menu annotation
            setTimeout(() => {
              annotationUnderlineText.show();
            }, 1500);

            // timeout wait before showing the menu annotation
            setTimeout(() => {
              annotationHamburgerIcon.show();
            }, 2500);
            // annotation.show();
          </script>
        <% } %>
        <!-- else show albums as cards -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
          <% for( let index = 0; index < coverAlbums.length; index++ ) { %>
          <div class="col">
            <div class="card text-end landingPageCard">
              <a href="/viewalbum/<%= coverAlbums[index].albumId %>">
                <img src="<%= coverAlbums[index].coverImageUrl %>" class="card-img-top" alt="..." />
              </a>
              <p class="fw-semibold overlayCountTextColor"><%= coverAlbums[index].count %></p>
            </div>
          </div>
          <% } %>
        </div>
        <!-- ############# -->
      </div>
    </main>


    <%- include('partials/footer') %> <%- include('partials/body-scripts-bootstrap') %>
    <!-- cloudinary upload widget -->
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <!-- <script src="/js/uploadWidget_newAlbum.js" type="text/javascript"></script> -->
    <script src="/js/uploadWidget_newAlbum.js" type="text/javascript"></script>
    <script src="/js/createNewAlbum.js"></script>
    <script src="/js/redirectToViewNewAlbum.js"></script>
  </body>
</html>
