<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('partials/head-meta-defaults') %> <%- include('partials/head-links-defaults') %>
    <title>jtwenty</title>
    <%- include('partials/head-scripts-defaults') %>
    <script src="https://kit.fontawesome.com/6cb00332d9.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <main>
      <!-- start form input new album name-->
      <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Create a new album</h1>
            <p class="col-lg-10 fs-4">
              After creating the new album you can add photos to it in the next step. Choose a short name like
              <em>"New York"</em> or
              <em>"Jasons 4th Birthday"</em>
            </p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <form id="formAlbumName" action="http://localhost:3005/create-new-album" class="p-4 p-md-5 border rounded-3 bg-light">
              <div class="form-floating">
                <input type="text" class="form-control" id="albumname" name="albumname" />
                <label for="albumname">Enter album name</label>
              </div>
              <div class="form-floating mb-3 px-2 pb-2 text-center">
                <p>
                  <small>Hint<i class="fa-regular fa-face-smile-wink"></i> Duplicates not allowed, see existing albums below.</small>
                </p>
              </div>
              <div class="form-floating mb-3 px-2 text-center" id="resultsDiv">
                <p id="resultsMessage">
                  <!-- <small id="resultsMessage"></small> -->
                </p>
              </div>
              <div class="form-floating mb-3">
                <button class="w-100 btn btn-lg btn-primary" id="createNewAlbumButton" type="submit">Create album</button>
              </div>
              <div class="form-floating mb-3 hidden" id="viewNewAlbumButtonDIV">
                <a class="w-100 btn btn-lg btn-success d-block" id="viewNewAlbumButton" href="" role="button">Link</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- end form -->
      <%- include('partials/albums-buttons') %>
    </main>
    <%- include('partials/footer') %> <%- include('partials/body-scripts-page-title') %> <%- include('partials/body-scripts-bootstrap') %>
    <script src="/js/createNewAlbum.js"></script>
  </body>
</html>
