<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('partials/head-meta-defaults') %> <%- include('partials/head-links-defaults') %>
    <title>jTwenty</title>
    <%- include('partials/head-scripts-defaults') %> <%- include('partials/head-scripts-bootstrap-icons') %>
    <script defer src="./../js/confirmDeleteAlbumModal.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <main>
      <%- include ('partials/modal-confirm-delete-album') %>

      <div class="spacer"></div>


      <!-- script masonryGridLayout.js will create a masonry grid gallery -->
      <div class="grid css-margin-top-gallery">
        <div class="grid-sizer"></div>
        <% for( let index = 0; index < album.albumImages.length ; index++ ) { %>
        <div class="grid-item" id="grid-item-<%= album.albumImages[index]._id%>">
          <a
            class="launch-lightbox"
            href="/lightbox/<%= album.albumName %> "
            data-album-id="<%= album._id %>"
            data-image-id="<%= album.albumImages[index]._id%>"
            data-albumname="<%= album.albumName %>"
          >
            <img src="<%= album.albumImages[index].masonry_url %> " />
          </a>
          <div class="delete-icon" role="button" data-image-id="<%= album.albumImages[index]._id %>" data-album-id="<%= album._id%>">
            <i class="fas fa-trash-alt"></i>
          </div>
          <div
            class="set-cover-image"
            data-albumname-coverimage="<%=album.albumName%>"
            data-albumid-coverimage="<%=album._id%>"
            data-imageid-coverimage="<%= album.albumImages[index]._id%>"
            data-imagepublicid-coverimage="<%= album.albumImages[index].public_id%>"
          >
            <input
              class="form-check-input"
              type="radio"
              name="album-cover"
              id="album-cover-<%= album.albumImages[index]._id%>"
              value="<%= album.albumImages[index].isCoverImage%>"
            />
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <%- include('partials/footer') %> <%- include('partials/body-scripts-bootstrap') %>
    <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript" defer></script>
    <script src="/js/uploadWidget_newAlbum.js" type="text/javascript"></script>
    <script src="/js/createNewAlbum.js"></script>
    <script src="/js/redirectToViewNewAlbum.js"></script>
    <script src="/js/activeItemNavListAlbums.js"></script>
    <script src="/js/masonryGridLayout.js"></script>
    <script src="/js/deleteImage.js"></script>
    <script src="/js/setCoverImage.js"></script>
  </body>
</html>
