<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- EJS if statement to show album name if on view-album-page.ejs -->
    <% if (albumName !== "home") { %>
    <h4 id="title" class="text-capitalize text-bg-dark pt-2"><%=albumName%></h4>
    <% } %>

    <a class="navbar-brand" href="/">jtwenty</a>

    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasDarkNavbarLabel">jtwenty</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <div class="dropdown my-3">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Create New Album
          </button>
          <!-- This form is from the partial "form-create-new-album" but cannot insert as partial here! -->
          <form id="formAlbumName" class="dropdown-menu p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating">
              <input type="text" class="form-control" id="albumName" name="albumName" />
              <label for="albumName">Enter album name</label>
            </div>
            <div class="form-floating mb-3 px-2 pb-2 text-center">
              <div class="form-floating mb-3 px-2 text-center" id="resultsDiv">
                <p id="resultsMessage">
                  <!-- <small id="resultsMessage"></small> -->
                </p>
              </div>
              <p id="hint">
                <small>Hint<i class="fa-regular fa-face-smile-wink"></i> Duplicates not allowed, see existing albums below.</small>
              </p>
            </div>

            <div class="form-floating mb-3">
              <button class="w-100 btn btn-lg btn-primary" id="createNewAlbumButton" type="submit">Create New Album</button>
            </div>
            <div class="form-floating mb-3 hidden" id="viewNewAlbumButtonDIV">
              <a class="addImagesToAlbum submit w-100 btn btn-lg btn-success d-block" id="upload_widget_new_album" role="button">Link</a>
            </div>
            <div><img id="uploaded" /></div>
            <div id="dataDiv" data-album-name="" data-album-id=""></div>
            <!-- below is monitored for "success" which triggers page refresh -->
            <div id="dataDivResults" data-upload-result="" data-album-id=""></div>
            <pre class="data" id="uwdata"></pre>
          </form>
        </div>
        <div class="navbar-albums-list">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <% for( let index = 0; index < allAlbums.length; index++ ) { %>
            <li class="nav-item d-flex align-items-center border-top border-bottom" id="<%= allAlbums[index]._id %>">
              <div class="navlist-albumname">
                <a id="link<%= allAlbums[index]._id %>" class="nav-link text-capitalize px-2" aria-current="" href="/viewalbum/<%= allAlbums[index]._id %> "
                  ><%= allAlbums[index].albumName %>
                </a>
              </div>
              <div class="navlist-album-count">
                <% if (allAlbums[index].count > 0) { %>
                <span class="badge text-bg-light rounded-pill warn-before-delete"><%= allAlbums[index].count %> </span>
                <% } %>
              </div>
              <div class="navlist-add-images">
                <a class="nav-link upload_widget addImagesToAlbum px-3" data-album-name="<%= allAlbums[index].albumName %>" data-album-id="<%= allAlbums[index]._id%>">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                </a>
              </div>
              <div class="navlist-delete-album">
                <a
                  class="deleteAlbum px-3"
                  data-bs-toggle="modal"
                  data-bs-imageCount="<%= allAlbums[index].count %>"
                  data-bs-albumname="<%= allAlbums[index].albumName %>"
                  data-bs-albumid="<%= allAlbums[index]._id %>"
                  data-bs-target="#delete-album-modal"
                >
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
